---
layout: default
title: Welcome
---

{% include JB/setup %}
<br>
<h3 id="critically-open-neuroscience">critically open neuroscience</h3>
<p>
I'm Kathleen Leeper, currently a Division III student at <a href="www.hampshire.edu">Hampshire College</a>. My project is working with neuron-like stem cells and inducing expression of certain receptors, described <a href="/labwork/about.html">here</a>, with all of my research work documented in an open lab <a href="/labwork/index.html">notebook</a>. This is an experiment in learning to &quot;walk the walk&quot; of value-driven and open science. It's also an experiment in critically reflecting on how science and structures of science (publishing and access, notably) play into and exacerbate power structures, both at home and abroad. Who can afford to do open science and who benefits from it are crucial questions to start finding answers for as the open science movement gains steam.</p>
 



<!--
## Sample Posts

This blog contains sample posts which help stage pages and blog data.
When you don't need the samples anymore just delete the `_posts/core-samples` folder.

    $ rm -rf _posts/core-samples

Here's a sample "posts list".

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

-->




